:root {
    /* Temp */
    color: white;

    /* Fonts */
    --primary-font: "Mona Sans";
    --secondary-font: "Hubot Sans";
    --tertiary-font: "Montserrat";

    /* Light Theme */
    --primary-color: #7E7F95;
    --secondary-color: #595A6A;
    --tertiary-color: #383947;
    --quaternary-color: #28282F;
    --quinary-color: #1E1E24;
    --senary-color: #1C1C22;

    --accent-color: #FFF8AA;
    --accent-color-alt: #ACA771;
    --accent-color-alt2: #807C55;

    --white-color: #FFFFFF;
    --white-color_alt: #DFDFDF;
    --white-color_alt-2: #ECECEC;
    --gray-color: #A4A4A4;

    --background-color: #131317;
    --header-background-color: #0B0B0B;

    --language-box-outline-color: #464755;
    --language-box-background-color: #333440;

    /* Dark Theme */
    /* ... */

    /* Gaps */
    --gap-1: 6px;
    --gap-2: 8px;
    --gap-3: 14px;
    --gap-4: 17px;

    /* Paddings */
}

/* General */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

button {
    background: inherit;
    border: none;
    padding: 0;
    margin: 0;
    outline: inherit;
    cursor: pointer;
}

input[type="text"] {
    border: none;
    padding: 0;
    cursor: text;
    outline: inherit;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */

/* Header -- Division */

#header {
    display: flex;
    flex-direction: column;
    height: 10.5vh;
    background-color: var(--header-background-color);
    box-shadow: 0 1px 0 var(--tertiary-color);
}

/* Header -- Box, Text and Text Tip */

.header_box-wrapper {
    display: flex;
    align-items: center;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0.47em;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
}

.header_box-image {
    height: 21px;
    filter: invert(34%) sepia(6%) saturate(1065%) hue-rotate(199deg) brightness(97%) contrast(87%);
}

.header-text {
    font-family: var(--secondary-font), sans-serif;
}

.text-tip {

}

/* Header -- Upper */

#header_upper {
    display: flex;
    flex-direction: row;
    height: 50%;
    padding: 16px 16px 0 16px;
}

/* Header -- Upper Left */

.header_upper-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 14px;
}

#theme-toggle {

}

#profile-viewer {
    display: flex;
    align-items: center;
}

#profile-viewer_logo {
    height: 36px;
    filter: invert(100%);
}

#repository-path {

}

/* Header --- Repository Path */

.repository-path {

}

.slash {
    font-size: 1.15rem;
    color: var(--secondary-color);
    margin: 0 6px;
}

.bold {
    font-weight: 600;
}

/* Header -- Upper Right */

.header_upper-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 50%;
    gap: 8px;
}

#random-user {

}

#more-info {

}

.header_warning {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.35em 0.8em;
    color: var(--secondary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    gap: 14px;
    font-weight: 500;
}

#my-profile_logo {
    height: 28px;
    border-radius: 50%;
}

/* Header -- Lower */

#header_lower {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 50%;
    padding: 0 16px;
    gap: 8px;
}

.repository-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px 7px;
    white-space: nowrap;
    height: 70%;
    gap: 8px;
}

.main-section {
    padding: 0 10px 6px 10px;
    border-bottom: 1px solid var(--accent-color);
}

/* Main */

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 14;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(820px, 90%);
    height: 100%;
}

/* Main - Information Panel */

.information_panel {
    height: 14%;
}

.information_upper {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 20px;
    height: 42.5%;
    border-bottom: 1px solid var(--tertiary-color);
}

.information_branches-tags {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 6px;
}

.information_box {
    display: flex;
    gap: 6px;
    padding: 0.125em 0.625em;
    font-family: var(--secondary-font), sans-serif;
    font-size: 0.95rem;
    color: var(--white-color);
}

.main-branch {
    padding: 0.125em 0.875em 0.125em 0.625em;
    background-color: var(--quinary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 6px;
}

.information_box-text {
    color: var(--primary-color)
}

.information_box-image {
    display: block;
    height: 24px;
    filter: invert(21%) sepia(19%) saturate(552%) hue-rotate(198deg) brightness(88%) contrast(88%);
}

#information_profile {
    height: 35px;
    border-radius: 50%;
}

.information_text {
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.2rem;
}

.information_tag {
    font-family: var(--secondary-font), sans-serif;
    font-size: 0.925rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    padding: 0.135em 0.75em;
}

/* Main - Search Bar */

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0 25px 0;
    padding: 0.8em 0.8em;
    gap: 0.8em;
    background-color: var(--quinary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
    transition: 0.3s ease;
}

.search-bar:has(input:focus) {
    border-color: var(--accent-color-alt);
}

.search-bar:has(input:focus) img {
    filter: invert(100%);
}

.search-bar_image {
    height: 24px;
    filter: invert(21%) sepia(19%) saturate(552%) hue-rotate(198deg) brightness(88%) contrast(88%);
    transition: 0.3s ease;
}

#search-input {
    width: 100%;
    background: none;
    font-family: var(--primary-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white-color);
}

.placeholder {
    position: absolute;
    left: 3em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: var(--primary-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.accent-color {
    color: var(--accent-color-alt2)
}

/* Result */

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
    background-color: var(--quinary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
}

/* Result - Loading */

#loading {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 400px;
    height: 400px;
}

#loading_image {
    height: 120px;
    filter: invert(53%) sepia(12%) saturate(497%) hue-rotate(199deg) brightness(92%) contrast(87%);
    animation-name: spinning;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

#loading_text {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
}

@keyframes spinning {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

/* Result - Info */

#result_info {
    display: none;
}

/* Credits */

#credits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family: var(--tertiary-font), sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}